@if (products.length > 0) {
<ngb-carousel>
  <ng-template ngbSlide *ngFor="let pr of products">
    <div class="picsum-img-wrapper">
      <img
        (click)="addToCart(pr)"
        [src]="pr.thumbnail"
        alt="Random first slide"
        title="aggiungi al carrello"
      />
    </div>
    <div class="carousel-caption">
      <h3 title="aggiungi ai preferiti" (click)="addFauvorites(pr)">
        {{ pr.title }}
      </h3>
      <p>{{ pr.description }}</p>
    </div>
  </ng-template>
</ngb-carousel>
}
